<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/admin/dist/bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/admin/dist/daterangepicker/daterangepicker.css" />
		<link rel="stylesheet" href="/admin/dist/bootstrap-table/bootstrap-table.min.css" />
		<link rel="stylesheet" href="/admin/dist/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/admin/css/style.css" />
		<script src="/admin/js/jquery-2.1.4.min.js"></script>
		<script src="/admin/dist/daterangepicker/moment.min.js"></script>
		<script src="/admin/dist/daterangepicker/daterangepicker.js"></script>
		<script src="/admin/dist/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script src="/admin/dist/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="/admin/dist/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
		<script src="/admin/js/common.js"></script>
		<script src="/admin/js/moment.js"></script>


		<script src="/admin/dist/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>

		<script src="/admin/dist/bootstrap-table/extensions/tableexport.jquery.plugin/libs/FileSaver/FileSaver.min.js"></script>
		<script src="/admin/dist/bootstrap-table/extensions/tableexport.jquery.plugin/libs/js-xlsx/xlsx.core.min.js"></script>
		<script src="/admin/dist/bootstrap-table/extensions/tableexport.jquery.plugin/tableExport.min.js"></script>

	</head>
	<style>
		.panel-heading {
			padding: 5px 10px;
		}
		
		.panel-heading i {
			padding-left: 5px;
		}
		
		.form-inline .form-group {
			padding: 10px 15px;
		}
		
		.form-inline .form-group label {
			padding-right: 15px;
		}
		
		#table tr:nth-child(even) {
			background: #f4f8fb;
		}
		
		#toolbar {
			padding-left: 10px;
		}
		
		#toolbar .form-inline .form-group {
			padding: 0;
		}
		
		.upload {
			text-align: center;
			background-color: #50c3ff;
			height: 35px;
			line-height: 35px;
			width: 100%;
			border-radius: 6px;
			font-size: 14px;
			color: white;
		}
		
		#showImg {
			text-align: center;
			padding-top: 10px;
		}
		
		#showImg img {
			max-width: 200px;
		}
	</style>

	<body>
		<div class="container-fluid">

			<div class="panel panel-info panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-5 col-md-4 text-left h5">
								<i class="fa fa-tag">&nbsp;&nbsp;
									<a data-toggle="collapse" href="#collapseOne">
									信息查询
									</a>
									</i>
							</div>
						</div>
					</div>
				</div>
				<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="data-search-panel">
					<div class="panel-body">
						<form class="form-inline">
							<div class="form-group">
								<label for="search-coinCode">币种</label>
								<select class="form-control" id="search-coinCode" style="width: 120px;">
									<option value="">--请选择--</option>
								</select>
							</div>
							<div class="form-group">
								<label for="search-userId">用户id</label>
								<input type="text" class="form-control" id="search-userId" placeholder="id" style="width: 140px;">
							</div>
							<div class="form-group">
								<label for="search-date">时间</label>
								<input type="text" class="form-control" id="search-date" placeholder="起止时间">
							</div>
							<div class="form-group">
								<label for="search-userName">姓名</label>
								<input type="text" class="form-control" id="search-userName" placeholder="姓名">
							</div>
						</form>
					</div>

				</div>
			</div>

			<div class="body-table">

			</div>
			<table id="table"></table>
		</div>

	</body>
	<script type="text/javascript">
		$(function() {

			var $table = $("#table"); //初始化bootstrap-table的内容

			InitMainTable()
			initCoinDic();

			function InitMainTable(exportDataType) {
				//记录页面bootstrap-table全局变量$table，方便应用
				$table.bootstrapTable('destroy').bootstrapTable({
					url: '/admin/user/accountHisList?rnd=' + Math.random(), //请求后台的URL（*）
					method: 'post', //请求方式（*）
					dataType: "json",
					contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
					toolbar: '#toolbar', //工具按钮用哪个容
					toolbarAlign: 'right',
					striped: false, //是否显示行间隔色
					cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
					pagination: true, //是否显示分页（*）
					sortable: true, //是否启用排序
					sortOrder: "asc", //排序方式
					sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
					pageNumber: 1, //初始化加载第一页，默认第一页,并记录
					pageSize: 10, //每页的记录行数（*）
					pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
					search: false, //是否显示表格搜索
					strictSearch: true,
					showColumns: true, //是否显示所有的列（选择显示的列）
					showRefresh: true, //是否显示刷新按钮
					showFullscreen: false,
					minimumCountColumns: 2, //最少允许的列数
					clickToSelect: true, //是否启用点击选中行
					//height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
					uniqueId: "id", //每一行的唯一标识，一般为主键列
					showToggle: false, //是否显示详细视图和列表视图的切换按钮
					cardView: false, //是否显示详细视图
					detailView: false, //是否显示父子表
					singleSelect: true, //是否单选
					showExport: true,
					exportTypes: ['excel', 'xlsx'],
					exportDataType: "all", //basic', 'all', 'selected'
					exportOptions: {
						ignoreColumn: [0, 0], //忽略某一列的索引  
						fileName: '用户数据', //文件名称设置  
						worksheetName: 'Sheet1', //表格工作区名称  

					},

					//得到查询的参数
					queryParams: function(params) {
						//这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
						var temp = {
							pageSize: params.limit, //页面大小
							pageNo: (params.offset / params.limit) + 1, //页码
							orderBy: params.sort, //排序列名  
							order: params.order, //排位命令（desc，asc）
							userName: $("#search-userName").val(),
							userId: $("#search-userId").val(),
							coinCode:$("#search-coinCode").val(),
							countDate:$("#search-date").val()
							
						};
						return temp;
					},
					columns: [{
						checkbox: true,
						visible: false //是否显示复选框  
					}, {
						field: 'id',
						title: '用户id',
					}, {
						field: 'userName',
						title: '用户',
					}, {
						field: 'openId',
						title: 'openId'
					}, {
						field: 'countDate',
						title: '时间',
						sortable: true,
						sortName:'count_date',
						formatter: function(value, row, index) {
							return new moment(value).format("YYYY-MM-DD");
						}
					}, {
						field: 'coinCode',
						title: '货币',
					}, {
						field: 'coins',
						title: '资产',
					}, {
						field: 'canUseCoins',
						title: '计息资产',
					}, {
						field: 'todayIncome',
						title: '今日收益',
					}, {
						field: 'totalIncome',
						title: '累计收益',

					}],
					onLoadSuccess: function(data) {
						console.log("加载成功");
					},
					onLoadError: function() {
						console.log("加载失败")
					},
					onDblClickRow: function(row, $element) {

					}
				});
			};

		})

		function initCoinDic() {
			//加载币种

			$.ajax({
				type: 'post',
				url: '/admin/system/queryAllCoins',
				cache: false,
				dataType: 'json',
				async: false,
				success: function(data) {
					if("0000" == data.code) {
						$(data.data).each(function(index, el) {
							$("#search-coinCode").append("<option value='" + el.coinCode + "'>" + el.coinCode + "</option>")
						})
					} else {
						alert(data.msg);
					}

				},
				error: function() {
					alert("请求失败")
				}
			})

		}
		initSearchDate();
		function initSearchDate() {

				$('#search-date').daterangepicker({
					"singleDatePicker": true,
					"autoUpdateInput":false,
					"locale": {
						"direction": "ltr",
						"format": "YYYY-MM-DD",
						"separator": "-",
						"applyLabel": "确定",
						"cancelLabel": "清除",
						"fromLabel": "From",
						"toLabel": "To",
						"customRangeLabel": "Custom",
						"daysOfWeek": [
								"日",
								"一",
								"二",
								"三",
								"四",
								"五",
								"六"
						],
						"monthNames": [
							"一月",
							"二月",
							"三月",
							"四月",
							"五月",
							"六月",
							"气月",
							"八月",
							"九月",
							"十月",
							"十一月",
							"十二月"
						],
						"firstDay": 1
					},
					"showCustomRangeLabel": false,
					"alwaysShowCalendars": true,
					"startDate": new moment().format("YYYY-MM-DD"),
					"endDate": new moment().format("YYYY-MM-DD"),
					"maxDate": new moment().format("YYYY-MM-DD"),

				}, function(start, end, label) {});
				$('#search-date').on('cancel.daterangepicker', function(ev, picker) {
					$('#search-date').val('');
				}).on('apply.daterangepicker',function(ev, picker){
					$('#search-date').val(picker.startDate.format('YYYY-MM-DD'));
				});

			}

	</script>

</html>