<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/admin/dist/bootstrap-3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/admin/dist/bootstrap3-editable/css/bootstrap-editable.css" />
		<link rel="stylesheet" href="/admin/dist/bootstrap-table/bootstrap-table.min.css" />
		<link rel="stylesheet" href="/admin/dist/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/admin/dist/bootstrapvalidator/css/bootstrapValidator.min.css" />
		<link rel="stylesheet" href="/admin/css/style.css" />
		<script src="/admin/js/jquery-2.1.4.min.js"></script>
		<script src="/admin/dist/bootstrap-3.3.7/js/bootstrap.min.js"></script>
		<script src="/admin/dist/bootstrap-table/bootstrap-table.min.js"></script>
		<script src="/admin/dist/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
		<script src="/admin/dist/bootstrapvalidator/js/bootstrapValidator.min.js"></script>
		<script src="/admin/dist/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
		<script src="/admin/dist/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js"></script>
		<script src="/admin/js/common.js"></script>

	</head>
	<style>
		.panel-heading {
			padding: 5px 10px;
		}
		
		.panel-heading i {
			padding-left: 5px;
		}
		
		.form-inline .form-group {
			padding: 10px 15px;
		}
		
		.form-inline .form-group label {
			padding-right: 15px;
		}
		
		#table tr:nth-child(even) {
			background: #f4f8fb;
		}
		
		#toolbar {
			padding-left: 10px;
		}
	</style>

	<body>
		<div class="container-fluid">

			<div class="panel panel-info panel-default">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-5 col-md-4 text-left h5">
								<i class="fa fa-tag">&nbsp;&nbsp;信息查询</i>
							</div>
							<div class="col-xs-7 col-md-8 text-right h5">
								<i class="fa fa-search" id="data-search">&nbsp;&nbsp;<a href="javascript:void(0)">查询</a></i>
								<a class="fa fa-angle-down" id="data-search-arrow" href="javascript:void(0)"></a>
							</div>
						</div>
					</div>
				</div>
				<div id="data-search-panel" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="data-search-panel">
					<div class="panel-body">
						<form class="form-inline">
							<div class="form-group">
								<label for="search-itemName">菜单名称</label>
								<input type="text" class="form-control" id="search-itemName" placeholder="菜单名称">
							</div>
						</form>

					</div>

				</div>
			</div>
			<div class="body-table">
				<div id="toolbar">
					<button type="button" id="addFather" class="btn btn-default "><i class="fa fa-plus"></i></button>
					<button type="button" id="delFather" class="btn btn-default "><i class="fa fa-remove"></i></button>
				</div>
				<table id="table"></table>
			</div>
		</div>
		<!--一级菜单-->
		<div class="modal fade" tabindex="-1" role="dialog" id="data-father-modal" data-backdrop="static">
			<div class="modal-dialog" role="document" aria-hidden="true" style="width:500px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">操作</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="validate-father-form">
							<input type="hidden" name="id" class="form-control">
							<div class="form-group">
								<label for="itemName" class="col-sm-3 control-label">菜单名称</label>
								<div class="col-sm-8">
									<input type="text" name="itemName" class="form-control" placeholder="菜单名称">
								</div>
							</div>
							<div class="form-group">
								<label for="orderIndex" class="col-sm-3 control-label">菜单顺序</label>
								<div class="col-sm-8">
									<input type="text" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" class="form-control" name="orderIndex" placeholder="顺序" maxlength="11" style="width: 80px;">
								</div>
							</div>
							<div class="form-group">
								<label for="fullname" class="col-sm-3 control-label">状态</label>
								<div class="col-sm-8">
									<div class="radio">
										<label>
											<input type="radio" name="status" value="0" checked="checked">启用
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="status" value="1">禁用
										</label>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-info" id="save-father-data">确定</button>
						<button type="button" class="btn btn-info" id="close-father-modal">取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<!--二级菜单-->
		<div class="modal fade" tabindex="-1" role="dialog" id="data-child-modal" data-backdrop="static">
			<div class="modal-dialog" role="document" aria-hidden="true" style="width:500px">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">操作</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="validate-child-form">
							<input type="hidden" name="firstId" />
							<input type="hidden" name="index" />
							<div class="form-group">
								<label for="itemName" class="col-sm-3 control-label">菜单名称</label>
								<div class="col-sm-8">
									<input type="text" name="itemName" class="form-control" placeholder="菜单名称" maxlength="42">
								</div>
							</div>
							<div class="form-group">
								<label for="url" class="col-sm-3 control-label">菜单地址</label>
								<div class="col-sm-8">
									<input type="text" name="url" class="form-control" placeholder="菜单地址" maxlength="128">
								</div>
							</div>
							<div class="form-group">
								<label for="orderIndex" class="col-sm-3 control-label">菜单顺序</label>
								<div class="col-sm-8">
									<input type="text" onkeyup="value=value.replace(/^(0+)|[^\d]+/g,'')" class="form-control" name="orderIndex" placeholder="顺序" maxlength="11" style="width: 80px;">
								</div>
							</div>
							<div class="form-group">
								<label for="fullname" class="col-sm-3 control-label">状态</label>
								<div class="col-sm-8">
									<div class="radio">
										<label>
									<input type="radio" name="status" value="1" checked="checked"/>启用
								</label>
									</div>
									<div class="radio">
										<label>
									<input type="radio" name="status" value="2"/>禁用
								</label>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-info" id="save-child-data">确定</button>
						<button type="button" class="btn btn-info" id="close-child-modal">取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</body>
	<script type="text/javascript">
		$(function() {

			var $table = $("#table"); //初始化bootstrap-table的内容

			//搜索
			$("#data-search").click(function() {
				$table.bootstrapTable('refresh');
			});
			//新增
			$("#addFather").click(function() {
				$('#data-father-modal').modal('show');

			})
			$("#delFather").click(function() {
				var r = window.confirm("删除后不可恢复");
				if(r) {
					var obj = $table.bootstrapTable('getSelections')[0];
						$.ajax({
						type: 'post',
						url: '/admin/systemFirstItem/delItem',
						cache: false,
						data: {itemId:obj.id},
						dataType: 'json',
						success: function(data) {
							if("0000" == data.code) {
								alert("成功");
								//刷新数据
								$table.bootstrapTable('refresh');
							} else {
								alert(data.msg);
							}

						},
						error: function() {
							alert("请求失败")
						}
					})

				}  
			})

			$("#save-father-data").click(function() {
				var bootstrapValidator = $("#validate-father-form").data('bootstrapValidator');
				bootstrapValidator.validate();
				if(bootstrapValidator.isValid()) {

					var form = $("#validate-father-form").serialize();
					$.ajax({
						type: 'post',
						url: '/admin/systemFirstItem/addFirstItem',
						cache: false,
						data: form,
						dataType: 'json',
						success: function(data) {
							if("0000" == data.code) {
								alert("成功");
								//关闭模态框
								//移除上一次的校验结果，重新添加表单校验。
								$("#validate-father-form").data('bootstrapValidator').destroy();
								$('#validate-father-form').data('bootstrapValidator', null);
								fatherFormValidator();
								$("#validate-father-form input").val("");
								$('#data-father-modal').modal('hide');

								//刷新数据
								$table.bootstrapTable('refresh');
							} else {
								alert(data.msg);
							}

						},
						error: function() {
							alert("请求失败")
						}
					})

				} else {
					alert("失败")
				}
			})
			$("#close-father-modal").click(function() {
				//移除上一次的校验结果，重新添加表单校验。
				$("#validate-father-form").data('bootstrapValidator').destroy();
				$('#validate-father-form').data('bootstrapValidator', null);
				fatherFormValidator();
				$("#validate-father-form input").val("");
				$('#data-father-modal').modal('hide');
			})

			function addChild(index, fatherId) {
				$('#data-child-modal').modal('show');
				$("#validate-child-form input[name='firstId']").val(fatherId);
				$("#validate-child-form input[name='index']").val(index);

			}

			function delChild(index) {
				var r = window.confirm("删除后不可恢复");
				if(r) {
					var obj = $("#table"+index).bootstrapTable('getSelections')[0];
						
						$.ajax({
						type: 'post',
						url: '/admin/systemSecondItem/delItem',
						cache: false,
						data: {itemId:obj.id},
						dataType: 'json',
						success: function(data) {
							if("0000" == data.code) {
								alert("成功");
								//刷新数据
								$("#table"+index).bootstrapTable('refresh');
							} else {
								alert(data.msg);
							}

						},
						error: function() {
							alert("请求失败")
						}
					})

				}  
			}

			$("#save-child-data").click(function() {
				var bootstrapValidator = $("#validate-child-form").data('bootstrapValidator');
				bootstrapValidator.validate();
				if(bootstrapValidator.isValid()) {

					var form = $("#validate-child-form").serialize();
					$.ajax({
						type: 'post',
						url: '/admin/systemSecondItem/addSecondItem',
						cache: false,
						data: form,
						dataType: 'json',
						success: function(data) {
							if("0000" == data.code) {
								var index = $("#validate-child-form input[name='index']").val();
								alert("成功");
								//关闭模态框
								//移除上一次的校验结果，重新添加表单校验。
								$("#validate-child-form").data('bootstrapValidator').destroy();
								$('#validate-child-form').data('bootstrapValidator', null);
								childFormValidator();
								$("#validate-child-form input").val("");
								$('#data-child-modal').modal('hide');

								//刷新数据
								$("#table" + index).bootstrapTable('refresh');

							} else {
								alert(data.msg);
							}

						},
						error: function() {
							alert("请求失败")
						}
					})

				} else {
					alert("失败")
				}
			})
			$("#close-child-modal").click(function() {
				//移除上一次的校验结果，重新添加表单校验。
				$("#validate-child-form").data('bootstrapValidator').destroy();
				$('#validate-child-form').data('bootstrapValidator', null);
				childFormValidator();
				$("#validate-child-form input").val("");
				$('#data-child-modal').modal('hide');
			})

			function InitMainTable() {
				//记录页面bootstrap-table全局变量$table，方便应用
				$table.bootstrapTable('destroy').bootstrapTable({
					url: '/admin/systemFirstItem/listSystemFirstItem?rnd=' + Math.random(), //请求后台的URL（*）
					method: 'post', //请求方式（*）
					dataType: "json",
					contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
					toolbar: '#toolbar', //工具按钮用哪个容
					toolbarAlign: 'right',
					striped: false, //是否显示行间隔色
					cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
					pagination: true, //是否显示分页（*）
					sortable: true, //是否启用排序
					sortOrder: "asc", //排序方式
					sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
					pageNumber: 1, //初始化加载第一页，默认第一页,并记录
					pageSize: 10, //每页的记录行数（*）
					pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
					search: false, //是否显示表格搜索
					strictSearch: true,
					showColumns: true, //是否显示所有的列（选择显示的列）
					showRefresh: true, //是否显示刷新按钮
					showFullscreen: false,
					minimumCountColumns: 2, //最少允许的列数
					clickToSelect: true, //是否启用点击选中行
					//height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
					uniqueId: "id", //每一行的唯一标识，一般为主键列
					showToggle: false, //是否显示详细视图和列表视图的切换按钮
					cardView: false, //是否显示详细视图
					detailView: true, //是否显示父子表
					singleSelect: true, //是否单选
					showExport: false,
					exportDataType: "basic", //basic', 'all', 'selected'
					//得到查询的参数
					queryParams: function(params) {
						//这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
						var temp = {
							pageSize: params.limit, //页面大小
							pageNo: (params.offset / params.limit) + 1, //页码
							orderBy: params.sort, //排序列名  
							order: params.order, //排位命令（desc，asc）
							itemName: $("#search-itemName").val()
						};
						return temp;
					},
					columns: [{
						checkbox: true,
						visible: true //是否显示复选框  
					},/* {
		                field: 'no',
		                title: '序号',
		                align: "center",
		                width: 40,
		                formatter: function (value, row, index) {
		                    //获取每页显示的数量
		                    var pageSize=$table.bootstrapTable('getOptions').pageSize;
		                    //获取当前是第几页
		                    var pageNumber=$table.bootstrapTable('getOptions').pageNumber;
		                    //返回序号，注意index是从0开始的，所以要加上1
		                    return pageSize * (pageNumber - 1) + index + 1;
		                }
		            }, */ {
						field: 'itemName',
						title: '菜单名称',
						sortable: true,
						editable: {
							type: 'text',
							title: '菜单名称',
							validate: function(v) {
								if(!v) return '菜单名称';

							}
						}
					}, {
						field: 'status',
						title: '状态',
						editable: {
							type: 'select',
							title: '状态',
							source: [{
									value: 0,
									text: '禁用'
								},
								{
									value: 1,
									text: '启用'
								}
							],
							validate: function(v) {
								if(!v) return '状态没有设置';

							}

						}
					}, {
						field: 'orderIndex',
						title: '顺序',
						editable: {
							type: 'text',
							title: '顺序',
							validate: function(v) {
								if(!v) return '顺序没有设置';
							}
						}
					}], //注册加载子表的事件
					onExpandRow: function(index, row, $detail) {
						loadChildTable(index, row, $detail);
					},
					onLoadSuccess: function(data) {
						console.log("加载成功");
					},
					onLoadError: function() {
						console.log("加载失败")
					},
					onDblClickRow: function(row, $element) {

					},
					onEditableSave: function(field, row, oldValue, $el) {
						var form = new FormData();
						form.append("id", row.id);

						if(row.itemName != null) {
							form.append("itemName", row.itemName);
						}
						if(row.orderIndex != null) {
							form.append("orderIndex", row.orderIndex);
						}
						if(row.status != null) {
							form.append("status", row.status);
						}

						$.ajax({
							type: 'post',
							url: 'http://localhost:8088/admin/systemFirstItem/addFirstItem',
							cache: false,
							data: form,
							processData: false,
							contentType: false,
							success: function(data) {
								if("0000" == data.code) {
									alert("成功");
									//关闭模态框
									//移除上一次的校验结果，重新添加表单校验。
									$("#validate-father-form").data('bootstrapValidator').destroy();
									$('#validate-father-form').data('bootstrapValidator', null);
									fatherFormValidator();
									$("#validate-father-form input").val("");
									$('#data-father-modal').modal('hide');

									//刷新数据
									$table.bootstrapTable('refresh');
								} else {
									alert(data.msg);
								}

							},
							error: function() {
								alert("请求失败")
							}
						})
					}
				});
			};
			InitMainTable();

			function loadChildTable(index, row, $detail) {

				var toolbar = "toolbar" + index;

				var html = '<div id="' + toolbar + '">' +
					'<button type="button" name="addChild" class="btn btn-default "><i class="fa fa-plus"></i></button>' +
					'<button type="button" name="delChild" class="btn btn-default "><i class="fa fa-remove"></i></button>' +
					'</div>' +
					'<table id="table' + index + '"></table>';

				var curTable = $detail.append(html).find("table");

				
				$detail.find("[name='addChild']").on("click", function(e) {
					addChild(index, row.id);
				});
				$detail.find("[name='delChild']").on("click", function(e) {
					delChild(index, row.id)
				});

				$(curTable).bootstrapTable('destroy').bootstrapTable({
					url: '/admin/systemSecondItem/listSystemSecondItem?rnd=' + Math.random(), //请求后台的URL（*）
					method: 'post', //请求方式（*）
					dataType: "json",
					contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
					toolbar: "#" + toolbar, //工具按钮用哪个容
					toolbarAlign: 'right',
					striped: false, //是否显示行间隔色
					cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
					pagination: false, //是否显示分页（*）
					sortable: true, //是否启用排序
					sortOrder: "asc", //排序方式
					sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
					pageNumber: 1, //初始化加载第一页，默认第一页,并记录
					pageSize: 10, //每页的记录行数（*）
					pageList: [10, 20, 50, 100], //可供选择的每页的行数（*）
					search: false, //是否显示表格搜索
					strictSearch: false,
					showColumns: true, //是否显示所有的列（选择显示的列）
					showRefresh: true, //是否显示刷新按钮
					showFullscreen: false,
					minimumCountColumns: 2, //最少允许的列数
					clickToSelect: true, //是否启用点击选中行
					//height: 500,                      //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
					uniqueId: "id", //每一行的唯一标识，一般为主键列
					showToggle: false, //是否显示详细视图和列表视图的切换按钮
					cardView: false, //是否显示详细视图
					detailView: false, //是否显示父子表
					singleSelect: true, //是否单选
					showExport: false,
					exportDataType: "basic", //basic', 'all', 'selected'
					//得到查询的参数
					queryParams: function(params) {
						//这里的键的名字和控制器的变量名必须一致，这边改动，控制器也需要改成一样的
						var temp = {
							fatherId: row.id
						};
						return temp;
					},
					columns: [{
						checkbox: true,
						visible: true //是否显示复选框  
					}, {
						field: 'itemName',
						title: '菜单名称',
						editable: {
							type: 'text',
							title: '菜单名称',
							validate: function(v) {
								if(!v) return '菜单名称不能为空';

							}

						}
					}, {
						field: 'url',
						title: '访问路径',
						editable: {
							type: 'text',
							title: '访问路径',
							validate: function(v) {
								if(!v) return '访问路径不能为空';

							}

						}
					}, {
						field: 'status',
						title: '状态',
						editable: {
							type: 'select',
							title: '状态',
							source: [{
									value: 1,
									text: '启用'
								},
								{
									value: 0,
									text: '禁用'
								}
							],
							validate: function(v) {
								if(!v) return '状态没有设置';

							}

						}
					}, {
						field: 'orderIndex',
						title: '序号',
						editable: {
							type: 'text',
							title: '序号',
							validate: function(v) {
								if(!v) return '序号不能为空';

							}

						}
					}], //注册加载子表的事件
					onLoadSuccess: function(data) {
						console.log("加载成功");
					},
					onLoadError: function() {
						console.log("加载失败")
					},
					onDblClickRow: function(row, $element) {
						
					},
					onEditableSave: function(field, row, oldValue, $el) {
						
						var form = new FormData();
						form.append("id", row.id);

						if(row.itemName != null) {
							form.append("itemName", row.itemName);
						}
						if(row.url != null) {
							form.append("url", row.url);
						}
						if(row.orderIndex != null) {
							form.append("orderIndex", row.orderIndex);
						}
						if(row.status != null) {
							form.append("status", row.status);
						}
						$.ajax({
							type: 'post',
							url: '/admin/systemSecondItem/addSecondItem',
							cache: false,
							data: form,
							processData: false,
							contentType: false,
							success: function(data) {
								if("0000" == data.code) {
									alert("成功");
									//关闭模态框
									//移除上一次的校验结果，重新添加表单校验。
									$("#validate-child-form").data('bootstrapValidator').destroy();
									$('#validate-child-form').data('bootstrapValidator', null);
									childFormValidator();
									$("#validate-child-form input").val("");
									$('#data-child-modal').modal('hide');

									//刷新数据
									$("#table"+index).bootstrapTable('refresh');
								} else {
									alert(data.msg);
								}

							},
							error: function() {
								alert("请求失败")
							}
						})
					}
				});

			}

			//表单验证
			fatherFormValidator();

			function fatherFormValidator() {
				$("#validate-father-form").bootstrapValidator({
					message: 'This value is not valid',
					feedbackIcons: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						itemName: {
							message: '菜单名称验证错误',
							validators: {
								notEmpty: {
									message: '用户名不能为空'
								}
							}
						},
						orderIndex: {
							message: '菜单顺序验证失败',
							validators: {
								notEmpty: {
									message: '菜单顺序不能为空'
								}
							}
						},
						status: {
							message: '验证失败',
							validators: {
								notEmpty: {
									message: '状态不能为空'
								}
							}
						},
					}
				}).on('success.form.bv', function(e) {
					// 阻止默认事件提交
					e.preventDefault();
				});
			}

			function childFormValidator() {
				$("#validate-child-form").bootstrapValidator({
					message: 'This value is not valid',
					feedbackIcons: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						itemName: {
							message: '菜单名称验证错误',
							validators: {
								notEmpty: {
									message: '用户名不能为空'
								}
							}
						},
						url: {
							message: '菜单路径错误',
							validators: {
								notEmpty: {
									message: '路径不能为空'
								}
							}
						},
						orderIndex: {
							message: '菜单顺序验证失败',
							validators: {
								notEmpty: {
									message: '菜单顺序不能为空'
								}
							}
						},
						status: {
							message: '验证失败',
							validators: {
								notEmpty: {
									message: '状态不能为空'
								}
							}
						},
					}
				}).on('success.form.bv', function(e) {
					// 阻止默认事件提交
					e.preventDefault();
				});
			}
			childFormValidator();
		})
	</script>

	</html>