<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/kingGameAdmin/tree/Treant.css" />
    <link rel="stylesheet" href="/kingGameAdmin/tree/basic-example.css" />
    <script src="/kingGameAdmin/tree/raphael.js"></script>
    <script src="/kingGameAdmin/tree/Treant.js"></script>
    <script type="text/javascript" src="/kingGameAdmin/js/jquery-2.1.4.min.js"></script>
    <script src="/kingGameAdmin/tree/basic-example.js"></script>
</head>
<body>
    <input id="uid" hidden="hidden" th:value="${uid}"/>
    <div class="chart" id="basic-example"></div>
    <script>
        var uid=$("#uid").val();
        var nickName;
        var avatarUrl;
        var cardNum;
        $.ajax({
			type: "post",
			dataType: "json", 
			async: false,
			url: "/kingGameAdmin/agent/findAgentMessage",
			data:{uid:uid}, 
			success : function(data) {
				nickName=data[0].nickName;
                avatarUrl=data[0].avatarUrl;
                cardNum=data[0].cardNum;
			}
		});
        new Treant( listAgent(uid,nickName,avatarUrl,cardNum) );
    </script>
</body>
</html>