<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.btc.mapper.CoinRecordMapper" >
  <resultMap id="BaseResultMap" type="com.btc.model.CoinRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="coins" property="coins" jdbcType="DECIMAL" />
    <result column="coin_code" property="coinCode" jdbcType="VARCHAR" />
    <result column="total_coins" property="totalCoins" jdbcType="DECIMAL" />
    <result column="trade_type" property="tradeType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_system_operate" property="isSystemOperate" jdbcType="INTEGER" />
    <result column="operate_user_id" property="operateUserId" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="bind_no" property="bindNo" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP" />
    <result column="user_name" property="userName"/>
  </resultMap>
  <sql id="page_sort_condition">
		limit #{pageNo},#{pageSize} 
	</sql>
	<!-- 排序条件 -->
	<sql id="order_by_condition">
		<if test="orderBy != '' and  orderBy != null ">
			ORDER BY ${orderBy} ${order}
		</if>
	</sql>
  
  <select id="queryCoinRecord" parameterType="java.util.HashMap" resultMap="BaseResultMap">
			SELECT t.*,u.user_name FROM btc_coin_record t,btc_user_info u WHERE t.user_id=u.id
			<if test="userName !=null and userName !=''">
				AND u.user_name like '%${userName}%'
			</if>
			<if test="coinCode !=null and coinCode !=''">
				AND t.coin_code like '%${coinCode}%'
			</if>
			<if test="orderNo !=null and orderNo !=''">
				AND t.order_no =#{orderNo}
			</if>
			<if test="userId !=null and userId !=''">
				AND t.user_id =#{userId}
			</if>
			<if test="tradeType !=null and tradeType!=''">
				AND t.trade_type =#{tradeType}
			</if>
			<if test="status !=null and status !=''">
				AND t.status =#{status}
			</if>
			<if test="beginDate !=null and beginDate!=''">
				AND date(t.gmt_create) &gt;=#{beginDate}
			</if>
			<if test="endDate !=null and endDate!=''">
				AND date(t.gmt_create) &lt;=#{endDate}
			</if>
			<if test="orderBy != '' and  orderBy != null ">
				ORDER BY t.${orderBy} ${order}
			</if>
			 <include refid="page_sort_condition"></include>
	</select>
	
	<select id="getCoinRecordCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
			SELECT count(1) FROM btc_coin_record t,btc_user_info u WHERE t.user_id=u.id
			<if test="userName !=null and userName !=''">
				AND u.user_name like '%${userName}%'
			</if>
			<if test="coinCode !=null and coinCode !=''">
				AND t.coin_code like '%${coinCode}%'
			</if>
			<if test="orderNo !=null and orderNo !=''">
				AND t.order_no =#{orderNo}
			</if>
			<if test="userId !=null and userId !=''">
				AND t.user_id =#{userId}
			</if>
			<if test="tradeType !=null and tradeType!=''">
				AND t.trade_type =#{tradeType}
			</if>
			<if test="status !=null and status !=''">
				AND t.status =#{status}
			</if>
			<if test="beginDate !=null and beginDate!=''">
				AND date(t.gmt_create) &gt;=#{beginDate}
			</if>
			<if test="endDate !=null and endDate!=''">
				AND date(t.gmt_create) &lt;=#{endDate}
			</if>
	</select>
  <sql id="Base_Column_List" >
    id, user_id, account_id, coins, coin_code, total_coins, trade_type, status, is_system_operate, 
    operate_user_id, order_no, bind_no, gmt_create, gmt_modify
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from btc_coin_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from btc_coin_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.btc.model.CoinRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into btc_coin_record (user_id, account_id, coins, 
      coin_code, total_coins, trade_type, 
      status, is_system_operate, operate_user_id, 
      order_no, bind_no, gmt_create, 
      gmt_modify)
    values (#{userId,jdbcType=BIGINT}, #{accountId,jdbcType=BIGINT}, #{coins,jdbcType=DECIMAL}, 
      #{coinCode,jdbcType=VARCHAR}, #{totalCoins,jdbcType=DECIMAL}, #{tradeType,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{isSystemOperate,jdbcType=INTEGER}, #{operateUserId,jdbcType=BIGINT}, 
      #{orderNo,jdbcType=VARCHAR}, #{bindNo,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.btc.model.CoinRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into btc_coin_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="coins != null" >
        coins,
      </if>
      <if test="coinCode != null" >
        coin_code,
      </if>
      <if test="totalCoins != null" >
        total_coins,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isSystemOperate != null" >
        is_system_operate,
      </if>
      <if test="operateUserId != null" >
        operate_user_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="bindNo != null" >
        bind_no,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModify != null" >
        gmt_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="coins != null" >
        #{coins,jdbcType=DECIMAL},
      </if>
      <if test="coinCode != null" >
        #{coinCode,jdbcType=VARCHAR},
      </if>
      <if test="totalCoins != null" >
        #{totalCoins,jdbcType=DECIMAL},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isSystemOperate != null" >
        #{isSystemOperate,jdbcType=INTEGER},
      </if>
      <if test="operateUserId != null" >
        #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="bindNo != null" >
        #{bindNo,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.btc.model.CoinRecord" >
    update btc_coin_record
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="coins != null" >
        coins = #{coins,jdbcType=DECIMAL},
      </if>
      <if test="coinCode != null" >
        coin_code = #{coinCode,jdbcType=VARCHAR},
      </if>
      <if test="totalCoins != null" >
        total_coins = #{totalCoins,jdbcType=DECIMAL},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isSystemOperate != null" >
        is_system_operate = #{isSystemOperate,jdbcType=INTEGER},
      </if>
      <if test="operateUserId != null" >
        operate_user_id = #{operateUserId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="bindNo != null" >
        bind_no = #{bindNo,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModify != null" >
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.btc.model.CoinRecord" >
    update btc_coin_record
    set user_id = #{userId,jdbcType=BIGINT},
      account_id = #{accountId,jdbcType=BIGINT},
      coins = #{coins,jdbcType=DECIMAL},
      coin_code = #{coinCode,jdbcType=VARCHAR},
      total_coins = #{totalCoins,jdbcType=DECIMAL},
      trade_type = #{tradeType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_system_operate = #{isSystemOperate,jdbcType=INTEGER},
      operate_user_id = #{operateUserId,jdbcType=BIGINT},
      order_no = #{orderNo,jdbcType=VARCHAR},
      bind_no = #{bindNo,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>